Source: mizuho
Section: ruby
Priority: optional
Maintainer: Hongli Lai <hongli@phusion.nl>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.2
Homepage: https://github.com/FooBarWidget/mizuho
Vcs-Git: git://github.com/FooBarWidget/mizuho.git
Vcs-Browser: https://github.com/FooBarWidget/mizuho
XS-Ruby-Versions: all

Package: mizuho
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, source-highlight, asciidoc
Description: Mizuho documentation formatting tool
  A documentation formatting tool. Mizuho converts Asciidoc input files into nicely
  outputted HTML, possibly one file per chapter. Multiple templates are supported,
  so you can write your own.
