#disqus_thread {
	font-size: 80%;
}

#disqus_thread h3 {
	float: none;
	margin-bottom: 1em !important;
	font-size: 125%;
	font-weight: bold;
}

#disqus_thread .dsq-avatar a,
#disqus_thread .dsq-collapse,
#dsq-footer a {
	border: none;
}

#dsq-content #dsq-global-toolbar {
	margin-top: -1em;
}

.disqus-loaded #comments_notice {
	position: relative;
}

.disqus-loaded #comments_notice span {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
}

.disqus-loaded.align-center #comments_notice span {
	text-align: center;
}
